.paw-print {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("https://i.imgur.com/2yaf2wb.png");
  background-size: cover;
  pointer-events: none;
  z-index: 999999;
  animation: fade 0.8s ease-out forwards;
}

@keyframes fade {
  0% { transform: scale(0.5); opacity: 1; }
  100% { transform: scale(1.6); opacity: 0; }
}
